parameters:
	level: 9
	paths:
		- no-unsafe-inline.php
		- uninstall.php
		- src
		- admin
		- includes
		- public
	scanFiles:
		- no-unsafe-inline.php
	scanDirectories:
		- vendor
	ignoreErrors:
		- '#Constant NO_UNSAFE_INLINE_PLUGIN_DIR not found.#'
		- '#Constant NO_UNSAFE_INLINE_PLUGIN_BASENAME not found.#'
	typeAliases:
		CSPReportUri: '''
			array{
				csp-report?: array{
					document-uri?: string,
					referrer?: string,
					violated-directive?: string,
					effective-directive?: string,
					original-policy?: string,
					disposition?: string,
					blocked-uri?: string,
					line-number?: int,
					column-number?: int,
					source-file?: string,
					status-code?: int,
					script-sample?: string
				}
			}
		'''
		CSPReportTo: '''
			array{
				type: string,
				age: int,
				url?: string,
				user_agent?: string,
				body?: array{
					document-url: string,
					referrer?: string,
					violated-directive?: string,
					effective-directive?: string,
					original-policy?: string,
					disposition?: string,
					blocked-uri?: string,
					line-number?: int,
					column-number?: int,
					source-file?: string,
					status-code?: int,
					script-sample?: string
				}
			}
		'''
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon # Errors related to PHP8.4 code, dynamically enabled only if the running php versione is >= 8.4

