parameters:
	level: 9
	paths:
		- no-unsafe-inline.php
		- uninstall.php
		- src
		- admin
		- includes
		- public
	scanFiles:
		- no-unsafe-inline.php
	scanDirectories:
		- vendor
	ignoreErrors:
		- '#Constant NO_UNSAFE_INLINE_PLUGIN_DIR not found.#'
		- '#Constant NO_UNSAFE_INLINE_PLUGIN_BASENAME not found.#'
		- '#Constant WP_CONTENT_DIR not found.#'
